$font-family: "Inter", sans-serif;
$white: #fff;
$primary-color: #DD4056;
$secondary-color: #e63946;
$gradient-bg: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));
$btn-bg-hover: linear-gradient(135deg, white 0%, #c1c1c1 100%);
$bg-dark: #060707;
$bg-reg-input: #1b1b1b;

@media (min-width: 1000px) and (max-width: 1439px) {

    .navMobile-wrapper,
    .mainMobile-wrapper,
    .mainMobile {
        display: none;
    }

    .container {
        width: 100%;
    }

    header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
    }

    .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: max-content;

        nav {
            position: relative;
            display: flex;
            gap: 30px;
            align-items: flex-end;
        }

        .nav-block {
            display: inline-block;
            position: relative;
            padding-left: 8px;
            padding-bottom: 6px;
            height: max-content;
            width: max-content;

            a {
                color: $white;
                font-family: $font-family;
                font-weight: 400;
                font-size: 16px;
                font-style: italic;

                &:hover {
                    color: $primary-color;
                }
            }

            .underline-block {
                position: relative;
                display: inline-block;
                height: max-content;

                .underline {
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    transform: translateX(-15px);
                    width: 49px;
                    height: 4px;
                    background: $secondary-color;
                    clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
                    transition: left 1s cubic-bezier(0.25, 1, 0.5, 1),
                        width 1s cubic-bezier(0.25, 1, 0.5, 1);
                    opacity: 0.9;
                    pointer-events: none;
                }
            }
        }
    }

    .icon-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: max-content;

        img {
            width: 25px;
            height: 25px;
        }
    }

    button {
        background-color: $primary-color;
        width: 150px;
        height: 30px;
        color: $white;
        font-family: $font-family;
        font-weight: 300;
        font-size: 15px;
        font-style: italic;
    }

    .btn-sign {
        height: max-content;

        button {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
        }
    }

    .main {
        width: 100%;
        height: 900px;
        background: url(../image/main_bg.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 128px;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__heading h1 {
            color: $white;
            font-family: $font-family;
            font-weight: 800;
            font-size: 37px;
            margin-bottom: 12px;
        }

        &__platform {
            display: flex;

            &--color1 {
                color: $primary-color;
                font-weight: bold;
                padding: 0 3px 0 14px;
            }

            &--color2 {
                color: $primary-color;
                font-weight: bold;
                padding: 0 15px 0 8px;
            }

            p {
                color: $white;
                font-weight: 600;
                font-size: 24px;
                font-style: italic;
            }
        }

        &__rating {
            display: flex;
            gap: 10px;

            &-star img {
                width: 32px;
                height: 32px;
            }
        }

        &__button {
            width: 151px;
            height: 44px;
            border: none;
            cursor: pointer;
            font-family: $font-family;
            font-weight: 600;
            font-size: 20px;
            font-style: italic;
            color: $white;
            background: $gradient-bg;
            clip-path: polygon(12px 0%,
                    100% 0%,
                    151px 25.5484px,
                    138.321px 44px,
                    0 44px,
                    0 18.2093px);
        }

        &__price {
            color: $white;
            font-family: $font-family;
            font-weight: 400;
            font-size: 24px;
            font-style: italic;
            margin-bottom: 51px;
        }

        &__subtitle {
            margin-top: 19px;

            p {
                color: $white;
                font-weight: 400;
                font-size: 16px;
                font-style: italic;
                letter-spacing: 0.5px;
            }
        }

        &__btns {
            display: flex;
            gap: 60px;
            justify-content: center;
            align-items: center;
            margin-top: 32px;
        }

        &__imageBlock-wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;

            & .imgBlck1,
            & .imgBlck2,
            & .imgBlck3 {
                width: 358px;
                height: 159px;
                background-repeat: no-repeat;
                background-size: 358px 159px;
            }

            & .imgBlck1 {
                background-image: url(../image/imgBlock1.png);
            }

            & .imgBlck2 {
                background-image: url(../image/imgBlock2.png);
            }

            & .imgBlck3 {
                background-image: url(../image/imgBlock3.png);
            }
        }
    }

    .character {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1024px;
        width: 100%;
        background: url(../image/characterBg.png) no-repeat;
        background-size: 100%;

        &Block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__imageCard {
                width: 183px;
                height: 170px;

                &--main {
                    width: 504px;
                    height: 510px;
                }

                &--secondary {
                    display: flex;
                    flex-direction: column;
                }
            }

            &__imageCards {
                display: flex;
                flex-direction: row;
            }

            &__imageIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: max-content;
                padding-top: 25px;
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            gap: 28px;

            &__subtitle p {
                color: $white;
                font-weight: 400;
                font-size: 24px;
                font-style: italic;
            }
        }

        &__button button {
            width: 151px;
            height: 44px;
            border: none;
            cursor: pointer;
            font-family: $font-family;
            font-weight: 700;
            font-size: 20px;
            font-style: italic;
            color: $white;
            background: $gradient-bg;
            clip-path: polygon(12px 0%,
                    100% 0%,
                    151px 25.5484px,
                    138.321px 44px,
                    0 44px,
                    0 18.2093px);
        }
    }

    .reg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 886px;
        background-color: $bg-dark;

        &__heading h2 {
            color: $white;
            font-family: $font-family;
            font-weight: 800;
            font-size: 48px;
            letter-spacing: 2px;
            padding-bottom: 33px;
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            flex-wrap: wrap;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 33px;
            width: max-content;

            input[type="text"],
            input[type="email"],
            select {
                background-color: $bg-reg-input;
                border: none;
                width: 811px;
                height: 75px;
                padding: 15px;
                color: $white;
                border-radius: 4px;
                font-size: 15px;
                outline: none;

                &:focus {
                    border: 1px solid #ff5566;
                }
            }

            .checkbox-wrapper {
                display: flex;
                align-items: center;
                gap: 29px;
                font-style: italic;
                font-size: 14px;
                color: #ccc;
            }

            input[type="checkbox"] {
                accent-color: #ff5566;
                width: 27px;
                height: 27px;
                cursor: pointer;
            }

            button {
                background-color: #e34c61;
                width: 358px;
                height: 75px;
                font-family: $font-family;
                font-weight: 300;
                font-size: 24px;
                font-style: italic;
                color: $white;
                border: none;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #ff6678;
                }
            }
        }

        &__qr {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-info {
                color: $white;
                font-weight: 700;
                font-size: 24px;
                opacity: 0.7;
            }

            .qrColor {
                color: $primary-color;
                font-weight: 700;
                opacity: 1;
            }
        }
    }
}