@media (max-width: 576px) {
  body {
    color: #fff;
  }
  header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060707;
  }
  .container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-wrapper {
    display: none;
  }
  .navMobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .navMobile-wrapper__icon-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: none;
  }
  .mainMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 667px;
    width: 100%;
    background: url(../image/mainMobile-bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .mainMobile .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .mainMobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 58px;
    width: 100%;
  }
  .mainMobile__button button,
  .mainMobile .ad__button,
  .mainMobile .learnMore__button button {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    width: 151px;
    height: 44px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));
    clip-path: polygon(12px 0%, 100% 0%, 151px 25.5484px, 138.321px 44px, 0 44px, 0 18.2093px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .mainMobile__btns-wrapper {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 32px;
  }
  .mainMobile__platform--color {
    color: #DD4056;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
  }
  .mainMobile__platform p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
  }
  .mainMobile__heading {
    margin-top: 30px;
  }
  .mainMobile__heading h1 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
  }
  .mainMobile__price {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
  }
  .mainMobile__rating {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .mainMobile__rating .stars-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .mainMobile__rating .stars-wrapper .star img {
    width: 19px;
    height: 19px;
  }
  .mainMobile__subtitle {
    margin-top: 20px;
  }
  .mainMobile__subtitle p {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  .mainMobile__icons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .mainMobile__icons-wrapper .icon img {
    width: 100%;
    height: 100%;
  }
  .character {
    display: none;
  }
  .description {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/descriptionMobile-bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .description__heading h2 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  .description__subtitle {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
  }
  .whyUs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C0C0C;
    height: 1192px;
  }
  .whyUs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .whyUs__heading h2 {
    color: #fff;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
  }
  .whyUs__Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
  }
  .whyUs__card-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .whyUs__subtitle p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    text-align: center;
  }
  .whyUs__cardHeading h3 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  .whyUs__image {
    width: 300px;
    height: 170px;
  }
  .whyUs__image.whyImg1 {
    background: url(../image/mobile/whyImg1.png) no-repeat;
    background-size: 100% 100%;
  }
  .whyUs__image.whyImg2 {
    background: url(../image/mobile/whyImg2.png) no-repeat;
    background-size: 100% 100%;
  }
  .whyUs__image.whyImg3 {
    background: url(../image/mobile/whyImg3.png) no-repeat;
    background-size: 100% 100%;
  }
  .ad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background: url(../image/adMobilebg.png) no-repeat;
    background-size: 100% 100%;
  }
  .ad--black {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    align-self: flex-end;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .ad-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .ad__heading h2 {
    color: #fff;
    font-weight: 800;
    font-size: 32px;
  }
  .ad__subtitle p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
  }
  .learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background: url(../image/learnMoreMobileBG.png) no-repeat;
    background-size: 100% 100%;
  }
  .learnMore__h2 h2 {
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  .learnMore__subtitle p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  .learnMore-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .faq {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background: url(../image/faqMobileBG.png) no-repeat;
    background-size: 100% 100%;
  }
  .faq__heading h2 {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
  }
  .faq .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .faq__question-wrapper {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
  }
  .faq__question-wrapper__questionBlock {
    width: 380px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq__question-wrapper__questionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 328px;
  }
  .faq__question-wrapper__questionContainer .faqOdd {
    background: #292929;
  }
  .faq__question-wrapper__questionContainer .faq__question p {
    color: #fff;
    opacity: 0.7;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.4px;
  }
  .faq__questionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=index-mobile.css.map */