@media (min-width: 1000px) and (max-width: 1439px) {
    .reg {
        padding: 30px 30px;
        background-color: #060707;
        display: flex;
        justify-content: center;
        align-items: center;

        &__heading {
            width: max-content;

            h2 {
                color: #fff;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 800;
                font-size: 48px;
                font-style: normal;
                width: max-content;
                padding-bottom: 33px;
                letter-spacing: 2px;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            flex-wrap: wrap;
        }

        &__image img {
            width: 362px;
            height: 362px;
        }

        &__form {
            width: max-content;

            form {
                display: flex;
                flex-direction: column;
                gap: 33px;
                width: max-content;
            }

            input[type="text"],
            input[type="email"],
            select {
                background-color: #1b1b1b;
                border: none;
                width: 900px;
                height: 90px;
                padding: 30px 30px;
                color: #fff;
                border-radius: 4px;
                font-size: 32px;
                outline: none;

                &:focus {
                    border: 1px solid #ff5566;
                }
            }

            input::placeholder,
            select::placeholder {
                color: #fff;
                opacity: 0.7;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-size: 20px;
                font-style: italic;
            }

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #1b1b1b;
                color: #fff;
                opacity: 0.7;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-size: 20px;
                font-style: italic;
                padding: 15px;
                border-radius: 4px;
                border: none;
                width: 900px;
                height: 90px;
                outline: none;
                cursor: pointer;
                background-image: none;

                &::-ms-expand {
                    display: none;
                }

                option {
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-size: 14px;
                    font-style: italic;
                    color: #fff;
                    background-color: #1b1b1b;
                    padding: 10px;
                }

                &:focus {
                    border: 1px solid #ff5566;
                }
            }

            .checkbox-wrapper {
                display: flex;
                align-items: center;
                gap: 29px;
                font-style: italic;
                font-size: 14px;
                color: #ccc;
                width: max-content;

                input[type="checkbox"] {
                    accent-color: #ff5566;
                    width: 27px;
                    height: 27px;
                    cursor: pointer;
                }
            }
        }

        &__info {
            width: max-content;
        }

        &__qr {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-info {
                color: #fff;
                opacity: 0.7;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-size: 24px;
                font-style: italic;
                padding-top: 21.5px;
            }
        }
    }

    .qrColor,
    .main__platform--color1 {
        color: #DD4056;
        font-weight: 700;
        opacity: 1;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 24px;
        font-style: italic;
        animation: glowPulse 2.5s infinite;
    }

    label {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        width: max-content;
        letter-spacing: 1px;
    }
}