 @media (min-width: 1000px) and (max-width:1439px) {

     .reg {
         padding: 30px 30px;
         background-color: #060707;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .reg__heading {
         width: max-content;
     }

     .reg__heading h2 {
         color: #fff;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 800;
         font-size: 48px;
         font-style: normal;
         width: max-content;
         padding-bottom: 33px;
         letter-spacing: 2px;
     }

     label {
         color: #fff;
         opacity: 0.7;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 300;
         font-size: 24px;
         font-style: italic;
         width: max-content;
         letter-spacing: 1px;
     }

     .reg-wrapper {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 60px;
         flex-wrap: wrap;
     }

     .reg__image img {
         width: 362px;
         height: 362px;
     }

     .reg__form form {
         display: flex;
         flex-direction: column;
         gap: 33px;
         width: max-content;
     }

     .reg__form input[type="text"],
     .reg__form input[type="email"],
     .reg__form select {
         background-color: #1b1b1b;
         border: none;
         width: 900px;
         height: 90px;
         padding: 30px 30px;
         color: #fff;
         border-radius: 4px;
         font-size: 32px;
         outline: none;
     }

     .reg__form {
         width: max-content;
     }

     .reg__info {
         width: max-content;
     }

     .reg__form input[type="text"]:focus,
     .reg__form input[type="email"]:focus,
     .reg__form select:focus {
         border: 1px solid #ff5566;
     }

     .reg__form .checkbox-wrapper {
         display: flex;
         align-items: center;
         gap: 29px;
         font-style: italic;
         font-size: 14px;
         color: #ccc;
         width: max-content;
     }

     .reg__form input[type="checkbox"] {
         accent-color: #ff5566;
         width: 27px;
         height: 27px;
         cursor: pointer;
     }

     .reg__qr {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .reg__qr-info {
         color: #fff;
         opacity: 0.7;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 700;
         font-size: 24px;
         font-style: italic;
         padding-top: 21.5px;
     }

     .qrColor {
         color: #DD4056;
         font-weight: 600;
         opacity: 1;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 700;
         font-size: 24px;
         font-style: italic;
     }

     .main__platform--color1,
     .qrColor {
         animation: glowPulse 2.5s infinite;
     }

     .reg__form input::placeholder,
     .reg__form select::placeholder {
         color: #fff;
         opacity: 0.7;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 300;
         font-size: 20px;
         font-style: italic;
     }

     .reg__form select {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         background-color: #1b1b1b;
         color: #fff;
         opacity: 0.7;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 300;
         font-size: 20px;
         font-style: italic;
         padding: 15px;
         border-radius: 4px;
         border: none;
         width: 900px;
         height: 90px;
         outline: none;
         cursor: pointer;
         background-image: none;
     }

     .reg__form select::-ms-expand {
         display: none;
     }

     .reg__form select option {
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 300;
         font-size: 14px;
         font-style: italic;
         color: #fff;
         background-color: #1b1b1b;
         padding: 10px;
     }

     .reg__form select:focus {
         border: 1px solid #ff5566;
     }

 }