@media (min-width: 576px) and (max-width: 1000px) {
  body {
    color: #fff;
  }
  .container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imCard1 {
    background: url(../../image/imBlock1.png) no-repeat;
    background-size: 100% 100%;
  }
  .imCard2 {
    background: url(../../image/imBlock2.png) no-repeat;
    background-size: 100% 100%;
  }
  .imCard3 {
    background: url(../../image/imBlock3.png) no-repeat;
    background-size: 100% 100%;
  }
  .imCard4 {
    background: url(../../image/imBlock4.png) no-repeat;
    background-size: 100% 100%;
  }
  .character {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    background: url(../../image/characterBg.png) no-repeat;
    background-size: 100% 100%;
  }
  .characterBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 61px 0;
  }
  .character__heading h2 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 36px;
    font-style: normal;
  }
  .character__subtitle p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.6px;
  }
  .character__button button {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    width: 151px;
    height: 44px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));
    clip-path: polygon(12px 0%, 100% 0%, 151px 25.5484px, 138.321px 44px, 0 44px, 0 18.2093px);
  }
  .character__h3 .h3--italic {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
  }
  .character__imageCard {
    width: 130px;
    height: 120px;
  }
  .character__imageCard--main {
    width: 370px;
    height: 360px;
  }
  .character__imageCard--secondary {
    display: flex;
    flex-direction: column;
  }
  .character__imageCards {
    display: flex;
    flex-direction: row;
  }
  .character__image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .character__imageIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: -moz-max-content;
    height: max-content;
    padding-top: 25px;
  }
  .character__description {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-self: flex-start;
    padding-top: 41px;
  }
  .character__icon {
    width: 80px;
    height: 90px;
  }
  .character .charIcon1 {
    width: 90px;
    height: 90px;
    background: url(../../image/CharIcon1.svg) no-repeat;
    background-size: 100% 100%;
  }
  .character .charIcon2 {
    width: 90px;
    height: 90px;
    background: url(../../image/CharIcon2.svg) no-repeat;
    background-size: 100% 100%;
  }
  .character .charIcon3 {
    width: 90px;
    height: 90px;
    background: url(../../image/CharIcon3.svg) no-repeat;
    background-size: 100% 100%;
  }
  .character .charIcon4 {
    width: 90px;
    height: 90px;
    background: url(../../image/CharIcon4.svg) no-repeat;
    background-size: 100% 100%;
  }
  .character .charIcon5 {
    width: 90px;
    height: 93px;
    background: url(../../image/CharIcon5.svg) no-repeat;
    background-size: 100% 100%;
  }
}/*# sourceMappingURL=character-tablet.css.map */