@media (min-width: 576px) and (max-width: 1000px) {
    body {
        color: #fff;
    }

    .container {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @for $i from 1 through 4 {
        .imCard#{$i} {
            background: url(../../image/imBlock#{$i}.png) no-repeat;
            background-size: 100% 100%;
        }
    }

    .character {
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
        width: 100%;
        background: url(../../image/characterBg.png) no-repeat;
        background-size: 100% 100%;

        &Block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 45px 0 61px 0;
        }

        &__heading h2 {
            color: #fff;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-size: 36px;
            font-style: normal;
        }

        &__subtitle p {
            color: #fff;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-size: 18px;
            font-style: italic;
            letter-spacing: 0.6px;
        }

        &__button button {
            color: #fff;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-size: 20px;
            font-style: italic;
            width: 151px;
            height: 44px;
            border: none;
            cursor: pointer;
            background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));
            clip-path: polygon(12px 0%, 100% 0%, 151px 25.5484px, 138.321px 44px, 0 44px, 0 18.2093px);
        }

        &__h3 .h3--italic {
            color: #fff;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-size: 18px;
            font-style: italic;
        }

        &__imageCard {
            width: 130px;
            height: 120px;

            &--main {
                width: 370px;
                height: 360px;
            }

            &--secondary {
                display: flex;
                flex-direction: column;
            }
        }

        &__imageCards {
            display: flex;
            flex-direction: row;
        }

        &__image-wrapper {
            display: flex;
            flex-direction: column;
            gap: 26px;
        }

        &__imageIcons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: max-content;
            padding-top: 25px;
        }

        &__description {
            display: flex;
            flex-direction: column;
            gap: 28px;
            align-self: flex-start;
            padding-top: 41px;
        }

        &__icon {
            width: 80px;
            height: 90px;
        }

        @for $i from 1 through 5 {
            .charIcon#{$i} {
                width: 90px;
                height: if($i ==5, 93px, 90px);
                background: url(../../image/CharIcon#{$i}.svg) no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}