@media (min-width: 1005px) and (max-width:1439px) {

    .navMobile-wrapper {
        display: none;
    }

    .mainMobile-wrapper {
        display: none;
    }

    

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .nav-wrapper {
        display: flex;
        flex-direction: row;
        height: max-content;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .mainMobile {
        display: none;
    }

    .btn-sign button {
        clip-path: polygon(0 0,
                100% 0,
                100% 100%,
                20px 100%);
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 15px;
        font-style: italic;

    }

    .nav-block a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 16px;
        font-style: italic;
    }

    nav {
        position: relative;
        display: flex;
        gap: 30px;
        align-items: flex-end;
    }

    .nav-block {
        display: inline-block;
        position: relative;
        padding-left: 8px;
        height: max-content;
        padding-bottom: 6px;
        width: max-content;
    }

    .underline-block {
        position: relative;
        display: inline-block;
        height: max-content;
    }

    .underline {
        position: absolute;
        bottom: 0px;
        left: 10px;
        transform: translateX(-15px);
        width: 49px;
        height: 4px;
        background: #e63946;
        clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
        transition:
            left 1s cubic-bezier(0.25, 1, 0.5, 1),
            width 1s cubic-bezier(0.25, 1, 0.5, 1);
        opacity: 0.9;
        pointer-events: none;
    }

    .nav-block a:hover {
        color: #DD4056;
    }

    .underline--main {
        position: absolute;
        bottom: 0px;
        top: 42px;
        left: -20px;
        width: 65px;
        height: 5px;
        background: #e63946;
        clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
    }

    .underline--mainImage {
        position: absolute;
        bottom: 0px;
        top: 30px;
        left: -20px;
        width: 45px;
        height: 5px;
        background: #e63946;
        clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
    }


    .icon-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: max-content;
    }

    .icon-wrapper img {
        height: 25px;
        width: 25px;

    }

    button {
        background-color: #DD4056;
        width: 150px;
        height: 30px;
        color: #fff;
    }

    .btn-sign {
        height: max-content;
    }

    .main {
        height: 900px;
        width: 100%;
        background-image: url(../../image/main_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .main__platform--color1 {
        color: #DD4056;
        font-weight: bold;
        padding-left: 14px;
        padding-right: 3px;
    }

    .main__platform--color2 {
        color: #DD4056;
        font-weight: bold;
        padding-right: 8px;
        padding-left: 15px;
    }

    .main__heading h1 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 37px;
        font-style: normal;
        padding-bottom: 12px;
    }

    .main__platform p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 24px;
        font-style: italic;
    }

    .main__rating {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .main__rating-star img {
        width: 32px;
        height: 32px;
    }

    .main__button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));

        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);
    }


    .main__productInformation {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    .main__rating {
        display: flex;
        flex-direction: row;
    }

    .main__platform {
        display: flex;

    }

    .main__price {
        margin-bottom: 51px;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;

    }

    .icon-block img {
        width: 20px;
        height: 20px;
    }

    .main__subtitle {
        margin-top: 19px;
    }

    .main__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 16px;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .main__btns {
        margin-top: 32px;
    }

    .main__imageBlock-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main__imageBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 358px;
        height: 159px;
    }

    .imgBlck1 {
        background-image: url(../../image/imgBlock1.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgBlck2 {
        background-image: url(../../image/imgBlock2.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;
    }

    .imgBlck3 {
        background-image: url(../../image/imgBlock3.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;

    }


    .trailer-video {
        position: absolute;
        width: 358px;
        height: 159px;
        display: none;
        object-fit: cover;
        z-index: 2;
    }


    .main__h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        margin-bottom: 12px;
    }

   

    .main__btns {
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
        align-items: center;
    }

    .main__icons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }

    .main__icon img {
        width: 25px;
        height: 25px;
    }

    .character {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1024px;
        width: 100%;
        background-image: url(../../image/characterBg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .characterBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .character__imageCard {
        width: 183px;
        height: 170px;
    }

    .character__imageCards {
        display: flex;
        flex-direction: row;
    }

    .character__imageCard--secondary {
        display: flex;
        flex-direction: column;
    }

    .character__imageCard--main {
        width: 504px;
        height: 510px;
    }

    .imCard1 {
        background-image: url(../../image/imBlock1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .imCard2 {
        background-image: url(../../image/imBlock2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .imCard3 {
        background-image: url(../../image/imBlock3.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .imCard4 {
        background-image: url(../../image/imBlockMain.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .character__imageIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: max-content;
        padding-top: 25px;
    }

    .character__description {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .character__image-wrapper {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .character__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.6px;

    }

    .character__icon {
        width: 105px;
        height: 110px;
    }

    .charIcon1 {
        background-image: url(../../image/CharIcon1.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 92px;
        height: 93px;
    }

    .charIcon2 {
        background-image: url(../../image/CharIcon2.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 92px;
        height: 93px;
    }

    .charIcon3 {
        background-image: url(../../image/CharIcon3.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 92px;
        height: 93px;
    }

    .charIcon4 {
        background-image: url(../../image/CharIcon4.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 92px;
        height: 93px;
    }

    .charIcon5 {
        background-image: url(../../image/CharIcon5.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 92px;
        height: 93px;
    }

    .description {
        background-image: url(../../image/descriptionBg.png);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 440px;
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 85px;
    }

    .descriptionBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .description__heading h2 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-size: 26px;
        font-style: normal;
        letter-spacing: 0.7px;
        color: #fff;
    }

    .description__subtitle {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 15px;
        font-style: italic;
        letter-spacing: 0.1px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 5px;
    }


    .whyUs {
        background-image: url(../../image/whyusBg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 585px;
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 80px;
    }


    .whyUs__card-wrapper {
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .whyUs__Cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

    }

    .whyUs__heading h2 {
        text-align: center;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 26px;
        font-style: bold;
        letter-spacing: 0.8px;
    }

    .whyUs__heading {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .whyUs .container {
        flex-direction: column;
    }

    .whyUs__image {
        width: 280px;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .whyUs__cardHeading h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 18px;
        font-style: bold;
    }

    .whyUs__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.2px;
    }

    .whyImg1 {
        background-image: url(../../image/whyUsimg1.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
    }

    .whyImg2 {
        background-image: url(../../image/whyUsimg2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .whyImg3 {
        background-image: url(../../image/whyUsimg3.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .ad {
        display: flex;
        justify-content: center;
        background-image: url(../../image/adBg.png);
        background-size: cover;
        background-position: center;
        height: 512px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .ad--black {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .ad-wrapper {
        width: 504px;
        height: 336px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../../image/adBg.svg);
        display: flex;
        flex-direction: column;

        padding-top: 28px;
        padding-left: 56px;
    }

    .ad__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 36px;
        font-style: normal;
        padding-bottom: 11px;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }

    .ad .container {
        width: 1360px;
    }

    .ad__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        padding-bottom: 29px;
        letter-spacing: 0.3px;
    }

    .ad__button button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, white 0%, #c1c1c1 100%);
        opacity: 0.65;
        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);

        color: #000;
        text-shadow: 0 4px 5px rgba(76, 94, 87, 0.45);
    }


    .learnMore {
        background-image: url(../../image/learnMoreBG.png);
        width: 100%;
        height: 512px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .learnMore-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .learnMore__h2 h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 34px;
        font-style: normal;
        letter-spacing: 0.6px;
    }

    .learnMore__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.7px;
    }

    .learnMore__button button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, white 0%, #c1c1c1 100%);
        opacity: 0.65;
        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);
        color: #000;
        text-shadow: 0 4px 5px rgba(76, 94, 87, 0.45);
    }

    .learnMore__button button {
        transition: all 0.3s ease;
    }

    .learnMore__button button:hover {
        opacity: 0.95;
    }

    .ad__button button:hover {
        opacity: 0.95;
    }

    .ad__button button {
        transition: all 0.3s ease;
    }

   

    .faq {
        background-image: url(../../image/faqBG.png);
        height: 900px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }


    .faq-wrapper {
        display: flex;
        flex-direction: column;
    }

    .faq__heading {
        display: flex;
        justify-content: center;
    }

    .faq__heading h2 {
        text-align: center;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 31px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 36px;
        font-style: normal;
        letter-spacing: 0.5px;
    }

    .faq__question p {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.4px;
    }


    .faq__question-wrapper {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
    }

    .faq__questionBlock {
        width: 887px;
        height: 47px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faqOdd {
        background: #292929;
    }

    .faqEven {
        background: none;
    }

    .faq__questionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 791px;
    }

    .faq__questionBlock {
        transition: background-color 0.3s ease;
    }

    .faq__questionBlock:hover {
        background-color: #ffffff;
    }

    .faq__questionBlock:hover .faq__question p {
        color: #000000;
        opacity: 0.7;
        transition: color 0.3s ease, opacity 0.3s ease;
    }

    .faq__answer p {
        display: none;
    }

    .character__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 48px;
        font-style: normal;
    }

    .character__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
    }

    .character__button button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));
        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);

        color: #fff;
    }

    .character__h3 .h3--italic {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
    }

    .reg {
        height: 886px;
        background-color: #060707;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reg__heading {
        width: max-content;
    }

    .reg__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 48px;
        font-style: normal;
        width: max-content;
        padding-bottom: 33px;
        letter-spacing: 2px;
    }

    label {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        width: max-content;
        letter-spacing: 1px;
    }

    .reg-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
    }

    .reg__image img {
        width: 362px;
        height: 362px;
    }



    .reg__form form {
        display: flex;
        flex-direction: column;
        gap: 33px;
        width: max-content;
    }


    .reg__form input[type="text"],
    .reg__form input[type="email"],
    .reg__form select {
        background-color: #1b1b1b;
        border: none;
        width: 811px;
        height: 75px;
        padding: 15px 15px;
        color: #fff;
        border-radius: 4px;
        font-size: 15px;
        outline: none;
    }

    .reg__form {
        width: max-content;
    }

    .reg__info {
        width: max-content;
    }


    .reg__form input[type="text"]:focus,
    .reg__form input[type="email"]:focus,
    .reg__form select:focus {
        border: 1px solid #ff5566;
    }


    .reg__form .checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 29px;
        font-style: italic;
        font-size: 14px;
        color: #ccc;
        width: max-content;
    }

    .reg__form input[type="checkbox"] {
        accent-color: #ff5566;
        width: 27px;
        height: 27px;
        cursor: pointer;
    }


    .reg__form button {
        background-color: #e34c61;
        color: #fff;
        border: none;
        width: 358px;
        height: 75px;
        transition: background-color 0.3s ease;

        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
    }

    .reg__form button:hover {
        background-color: #ff6678;
    }


    .reg__qr {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reg__qr-info {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        padding-top: 21.5px;
    }

    .qrColor {
        color: #DD4056;
        font-weight: 600;
        opacity: 1;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
    }

}