@media (min-width: 576px) and (max-width: 1005px) {
    header {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #060707;
    }

    body {
        color: #fff;
    }

    .container {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-wrapper {
        display: none;
    }

    .navMobile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .navMobile__icon-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: none;
    }

    .mainMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainMobile .container {
        display: flex;
        height: max-content;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .mainMobile-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding-bottom: 58px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .mainMobile__button button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));

        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);

    }

    .mainMobile__btns-wrapper {
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin-top: 32px;
    }

    .mainMobile__platform--color {
        color: #DD4056;
        font-weight: bold;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 24px;
        font-style: italic;
    }

    .mainMobile__platform p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 24px;
        font-style: italic;
    }

    .mainMobile__heading h1 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 36px;
        font-style: normal;
    }

    .mainMobile__heading {
        margin-top: 30px;
    }

    .mainMobile__price {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
    }


    .mainMobile__rating {
        margin-top: 23px;
    }

    .main__imageBlock-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main__imageBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 358px;
        height: 159px;
    }

    .imgBlck1 {
        background-image: url(../image/imgBlock1.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;
        width: 358px;
        height: 159px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    .imgBlck2 {
        background-image: url(../../image/imgBlock2.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;
    }

    .imgBlck3 {
        background-image: url(../../image/imgBlock3.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;

    }



    .main__h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        margin-bottom: 12px;
    }

    .descriptionBlock {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .whyUs__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 32px;
        font-style: normal;
        text-align: center;
    }

    .whyUs .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whyUs__Cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        gap: 30px;
    }

    .whyUs__card-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
    }

    .whyUs__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        text-align: center;
    }

    .whyUs__cardHeading h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 32px;
        font-style: normal;
        text-align: center;
    }

    .ad--black {
        display: flex;
        align-items: center;
        width: 100%;
        align-self: flex-end;
        justify-content: center;
        background-color: rgb(0, 0, 0, 0.5);
        padding-bottom: 30px;
        padding-right: 15px;

    }

    .ad-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .ad__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 28px;
        font-style: normal;
    }

    .ad--black .container {
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 10px;
    }

    .ad__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
    }

    .ad__button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));

        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .whyUs__image {
        width: 440px;
        height: 240px;
    }

    .whyImg1 {
        background-image: url(../../image/mobile/whyImg1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .whyImg2 {
        background-image: url(../../image/mobile/whyImg2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .whyImg3 {
        background-image: url(../../image/mobile/whyImg3.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .description__subtitle {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 25px;

    }

    .description__subtitle {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
    }

    .description {
        height: 700px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .description__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 34px;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .mainMobile__subtitle {
        margin-top: 20px;
    }

    .mainMobile__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .mainMobile__icons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .mainMobile__icon img {
        width: 100%;
        height: 100%;
    }

    .mainMobile__stars-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .mainMobile__star img {
        width: 26px;
        height: 26px;
    }


    .mainMobile__rating {
        display: flex;
        flex-direction: row;
        align-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .mainMobile {
        height: 667px;
        width: 100% 100%;
        background-image: url(../../image/main_bg.png);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .character {
        display: none;
    }

    .description {
        width: 100%;
        background-image: url(../../image/descriptionMobile-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whyUs {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0C0C0C;
        height: max-content;
        padding: 50px;
    }


    .ad {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../image/adBg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        padding-left: 50px;
        padding-right: 350px;
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .learnMore {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../image/learnMoreMobileBG.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;

    }

    .learnMore__h2 h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 34px;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .learnMore__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .learnMore-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .learnMore__button button {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
        width: 151px;
        height: 44px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));

        clip-path: polygon(12px 0%,
                100% 0%,
                151px 25.5484px,
                138.321px 44px,
                0 44px,
                0 18.2093px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }


    .faq {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 100%;
        background-image: url(../../image/faqBG.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 70px;
        padding-right: 70px;

    }

    .faq__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 36px;
        font-style: normal;
        letter-spacing: 0.5px;
        text-align: center;
        padding-bottom: 20px;
    }

    .faq .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq__question-wrapper {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
    }

    .faq__questionBlock {
        width: 540px;
        height: 56px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faqOdd {
        background: #292929;
        padding-left: 8px;
        padding-right: 8px;
    }

    .faqEven {
        padding-left: 8px;
        padding-right: 8px;
    }

    .faq__questionIcon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faq__questionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 720px;
    }

    .faq__question p {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0.4px;
    }

    .faq__answer {
        display: none;
    }



}