 @media (min-width: 1000px) and (max-width:1440px) {

     .underline--mainImage {
         position: absolute;
         bottom: 0px;
         top: 30px;
         left: -20px;
         width: 45px;
         height: 5px;
         background: #e63946;
         clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
     }


     .icon-wrapper {
         display: flex;
         flex-direction: row;
         gap: 30px;
         height: max-content;
     }

     .icon-wrapper img {
         height: 25px;
         width: 25px;

     }

     button {
         background-color: #DD4056;
         width: 150px;
         height: 30px;
         color: #fff;
     }

     .btn-sign {
         height: max-content;
     }




     .imCard1 {
         background-image: url(../../image/imBlock1.png);
         background-size: 100% 100%;
         background-repeat: no-repeat;
     }

     .imCard2 {
         background-image: url(../../image/imBlock2.png);
         background-size: 100% 100%;
         background-repeat: no-repeat;
     }

     .imCard3 {
         background-image: url(../../image/imBlock3.png);
         background-size: 100% 100%;
         background-repeat: no-repeat;
     }

     .imCard4 {
         background-image: url(../../image/imBlockMain.png);
         background-size: 100% 100%;
         background-repeat: no-repeat;
     }

     .character__imageIcons {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         height: max-content;
         padding-top: 25px;
     }

     .character__description {
         display: flex;
         flex-direction: column;
         gap: 32px;
         align-self: flex-start;
         padding-bottom: 50px;
         padding-top: 50px;
     }

     .character__image-wrapper {
         display: flex;
         flex-direction: column;
         gap: 26px;
     }


     .character__icon {
         width: 90px;
         height: 90px;
     }

     .charIcon1 {
         background-image: url(../../image/CharIcon1.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         width: 80px;
         height: 80px;
     }

     .charIcon2 {
         background-image: url(../../image/CharIcon2.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         width: 80px;
         height: 80px;
     }

     .charIcon3 {
         background-image: url(../../image/CharIcon3.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         width: 80px;
         height: 80px;
     }

     .charIcon4 {
         background-image: url(../../image/CharIcon4.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         width: 80px;
         height: 80px;
     }

     .charIcon5 {
         background-image: url(../../image/CharIcon5.svg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         width: 80px;
         height: 80px;
     }

     .character {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 50px;
         width: 100%;
         background-image: url(../../image/characterBg.png);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
     }

     .characterBlock {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         gap: 50px;
     }



     .character__imageCard {
         width: 150px;
         height: 140px;
     }

     .character__imageCards {
         display: flex;
         flex-direction: row;
     }

     .character__imageCard--secondary {
         display: flex;
         flex-direction: column;
     }

     .character__imageCard--main {
         width: 420px;
         height: 420px;
     }


     .character__heading h2 {
         color: #fff;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 800;
         font-size: 40px;
         font-style: normal;
     }

     .character__subtitle p {
         color: #fff;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 300;
         font-size: 24px;
         font-style: italic;
     }

     .character__button button {
         color: #fff;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 700;
         font-size: 20px;
         font-style: italic;
         width: 151px;
         height: 44px;
         border: none;
         cursor: pointer;
         background: linear-gradient(135deg, rgba(153, 246, 206, 0.65), rgba(57, 113, 89, 0.65));
         clip-path: polygon(12px 0%,
                 100% 0%,
                 151px 25.5484px,
                 138.321px 44px,
                 0 44px,
                 0 18.2093px);

         color: #fff;
     }

     .character__h3 .h3--italic {
         color: #fff;
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 300;
         font-size: 24px;
         font-style: italic;
     }


 }