$dark: #060707;
$white: #fff;
$accent-hover: #DD4056;
$font: "Inter", sans-serif;

@mixin flex($dir: row, $justify: flex-start, $align: stretch, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

footer {
    width: 100%;
    background: $dark;
    padding: 43px 0;
    @include flex(center, center);

    .footer-wrapper {
        @include flex(space-between, center);
    }

    .footer__block,
    .footer_block,
    .footer__links {
        @include flex(column, flex-start, flex-start, 25px);
    }

    .footer__link a {
        text-decoration: none;
        color: $white;
        font-family: $font;
        font-weight: 300;
        font-size: 20px;
        opacity: 0.95;
        font-style: italic;
        padding-left: 10px;

        &:hover {
            color: $accent-hover;
        }
    }

    .footer__allRights p {
        color: $white;
        font-family: $font;
        font-weight: 200;
        font-size: 20px;
        opacity: 0.7;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .footer__socialNets {
        @include flex(row, flex-start, center, 25px);
        width: max-content;
    }

    .footer__net {
        width: 30px;
        height: 30px;

        &--inst {
            background: url(../image/instagram.svg) no-repeat center / 100% 100%;

            &:hover {
                background: url(../image/instFill.svg) no-repeat center / 100% 100%;
            }
        }

        &--twit {
            background: url(../image/twitter.svg) no-repeat center / 100% 100%;

            &:hover {
                background: url(../image/twitFill.svg) no-repeat center / 100% 100%;
            }
        }

        &--face {
            background: url(../image/facebook.svg) no-repeat center / 100% 100%;

            &:hover {
                background: url(../image/faceFill.svg) no-repeat center / 100% 100%;
            }
        }
    }

    @media (min-width: 1000px) and (max-width:1440px) {
        height: max-content;
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (min-width: 576px) and (max-width:1000px) {
        height: max-content;

        .container {
            @include flex(column, center, center);
        }

        .footer__block {
            gap: 50px;
            align-items: center;
            justify-content: center;
        }

        .footer-wrapper {
            @include flex(column, flex-start, center, 30px);
        }

        .footer__logoPS img {
            width: 100%;
            height: 100%;
        }

        .footer__allRights p {
            font-weight: 600;
            font-size: 25px;
            font-style: normal;
        }

        .footer__socialNets {
            gap: 50px;
        }

        .footer__net--face,
        .footer__net--inst,
        .footer__net--twit {
            width: 50px;
            height: 50px;
        }

        .footer__links {
            gap: 45px;
        }

        .footer__link a {
            font-weight: 600;
            font-size: 24px;
            font-style: normal;
            letter-spacing: 0.5px;
            padding: 25px 0;
        }
    }

    @media (max-width:576px) {
        .footer__block {
            gap: 30px;
        }

        .footer-wrapper {
            @include flex(column, center, center, 40px);
            margin: 0;
            padding: 15px 0;
        }

        .footer__logoPS img {
            width: 100%;
            height: 100%;
        }

        .footer__allRights p {
            font-weight: 600;
            font-size: 16px;
            font-style: normal;
        }

        .footer__socialNets {
            gap: 50px;
        }

        .footer__net--face,
        .footer__net--inst,
        .footer__net--twit {
            width: 30px;
            height: 30px;
        }

        .footer__links {
            gap: 15px;
        }

        .footer__link a {
            font-weight: 600;
            font-size: 24px;
            font-style: normal;
            letter-spacing: 0.5px;
            padding: 25px 0;
        }
    }
}