.container {
    width: 1340px;
}

.main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.whyUs .container {
    flex-direction: column;
}

.ad .container {
    width: 1360px;
}

.learnMore .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.whyUs__card-wrapper:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.main__imageBlock:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
}

.main__imageBlock:hover img {
    transform: scale(1.1) rotate(5deg);
}

.faq__questionBlock:hover {
    background-color: #ffffff;
}

.faq__questionBlock:hover .faq__question p {
    color: #ffffff;
    opacity: 0.7;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.faq__questionBlock.active.faqEven {
    background-color: transparent; 
}

.faq__questionBlock.active.faqOdd {
    background-color: #292929;
}

.icon-wrapper img:hover,
.main__icons-wrapper img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.faq__questionBlock:hover {
    background-color: #ffffff;
}




.character__icon:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
    border-radius: 100%;
}

.main__imageBlock:hover img {
    transform: scale(1.1) rotate(5deg);
}

.whyUs__card-wrapper:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.reg__form input[type="text"]:focus,
.reg__form input[type="email"]:focus,
.reg__form select:focus {
    border: 1px solid #ff5566;
}

.fade-section {
    opacity: 0.1;
    transition: opacity 0.5s ease-out;
}

.fade-section.visible {
    opacity: 1;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes glowPulse {

    0%,
    100% {
        text-shadow: 0 0 8px rgba(221, 64, 86, 0.7);
    }

    50% {
        text-shadow: 0 0 16px rgba(221, 64, 86, 1);
    }
}

.main__platform--color1,
.qrColor {
    animation: glowPulse 2.5s infinite;
}