 footer {
     width: 100%;
     background: #060707;
     display: flex;
     justify-content: center;
     /* height: 313px; */
     padding-top: 43px;
     padding-bottom: 43px;
     align-items: center;
 }

 .footer-wrapper {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 .footer_block {
     display: flex;
     flex-direction: column;
     gap: 25px;
 }

 .footer__links {
     flex-direction: column;
     display: flex;
     gap: 25px;
 }

 .footer__link a {
     text-decoration: none;
     color: #fff;
 }

 .footer__socialNets {
     display: flex;
     flex-direction: row;
     gap: 25px;
     width: max-content;
 }

 .footer__net img {
     width: 30px;
     height: 30px;
 }

 .footer__allRights p {
     color: #fff;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: 200;
     font-size: 20px;
     opacity: 0.7;
     font-style: italic;
     letter-spacing: 0.5px;
 }

 .footer__block {
     display: flex;
     flex-direction: column;
     gap: 25px;

 }

 .footer__link a {
     color: #fff;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-size: 20px;
     opacity: 0.95;
     font-style: italic;
     padding-left: 10px;
 }


 .footer__net--inst {
     background-image: url(../image/instagram.svg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     height: 30px;
     width: 30px;
 }

 .footer__net--twit {
     background-image: url(../image/twitter.svg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     height: 30px;
     width: 30px;
 }

 .footer__net--face {
     background-image: url(../image/facebook.svg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     height: 30px;
     width: 30px;
 }

 .footer__net--inst:hover {
     background-image: url(../image/instFill.svg);
 }

 .footer__net--twit:hover {
     background-image: url(../image/twitFill.svg);
 }

 .footer__net--face:hover {
     background-image: url(../image/faceFill.svg);
 }

 .footer__link a:hover {
     color: #DD4056;
 }





 @media (min-width: 1000px) and (max-width:1440px) {
     footer {
         height: max-content;
         padding-left: 60px;
         padding-right: 60px;
     }

 }




 @media (min-width: 576px) and (max-width:1000px) {
     footer {
         height: max-content;
     }

     footer .container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }


     .footer__block {
         display: flex;
         flex-direction: column;
         gap: 50px;
         align-items: center;
         justify-content: center;
     }

     .footer-wrapper {
         display: flex;
         flex-direction: column;
         gap: 30px;
     }

     .footer__logoPS img {
         width: 100%;
         height: 100%;
     }

     .footer__allRights p {
         font-weight: 600;
         font-size: 25px;
         font-style: normal;
     }

     .footer__socialNets {
         gap: 50px;
     }

     .footer__net--face,
     .footer__net--inst,
     .footer__net--twit {
         width: 50px;
         height: 50px;
     }

     .footer__links {
         display: flex;
         flex-direction: column;
         gap: 45px;
     }

     .footer__link a {
         font-optical-sizing: auto;
         font-weight: 600;
         font-size: 24px;
         font-style: normal;
         letter-spacing: 0.5px;
         padding-top: 25px;
         padding-bottom: 25px;
     }
 }






 @media (max-width:576px) {


     .footer__block {
         display: flex;
         flex-direction: column;
         gap: 30px;
     }

     .footer-wrapper {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 40px;
         margin: 0px;
         padding-top: 15px;
         padding-bottom: 15px;
     }

     .footer__logoPS img {
         width: 100%;
         height: 100%;
     }

     .footer__allRights p {
         font-weight: 600;
         font-size: 16px;
         font-style: normal;
     }

     .footer__socialNets {
         gap: 50px;
     }

     .footer__net--face,
     .footer__net--inst,
     .footer__net--twit {
         width: 30px;
         height: 30px;
     }

     .footer__links {
         display: flex;
         flex-direction: column;
         gap: 15px;
     }

     .footer__link a {
         font-optical-sizing: auto;
         font-weight: 600;
         font-size: 24px;
         font-style: normal;
         letter-spacing: 0.5px;
         padding-top: 25px;
         padding-bottom: 25px;
     }
 }



 @media (max-width:410px) {


     .footer-wrapper {
         gap: 40px;
         padding-left: 20px;
         padding-right: 20px;
     }

     .footer__logoPS img {
         width: 70%;
         height: 70%;
     }

     .footer__logo img {
        width: 145px;
        height: 145px;
     }

     .footer__allRights p {
         font-size: 14px;
     }

     .footer__socialNets {
         gap: 20px;
     }

     .footer__net--face,
     .footer__net--inst,
     .footer__net--twit {
         width: 20px;
         height: 20px;
     }

     .footer__links {
         gap: 8px;
     }

     .footer__link a {
         font-size: 18px;
          padding-top: 5px;
         padding-bottom: 5px;
     }
 }


 