html,
body {
    height: 100%;
    overflow: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/error404_bcg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100%;
    max-width: 740px;
}

.panel {
    background: rgba(41, 41, 41, 0.8);
    padding: 40px 34px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    box-shadow:
        0 0 45px rgba(0, 0, 0, 0.85),
        inset 0 0 35px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.code {
    font-size: 150px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 4px #e63946;
    letter-spacing: 4px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.notfound {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    opacity: 0.9;
    padding-bottom: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 37px;
    font-style: normal;
}

.story {
    line-height: 1.65;
    opacity: 0.85;
    padding-bottom: 36px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.1px;
}

.actions {
    display: flex;
    gap: 14px;
}

.btn {
    position: relative;
    overflow: hidden;
    font-optical-sizing: auto;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    letter-spacing: 0.4px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
}

.btn.primary {
    background: #e63946dd;
    border: 1px solid #e63946;
    color: #fff;
}

.btn.hollow {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    background: transparent;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: all 0.6s ease;
}

.btn:hover::after {
    left: 100%;
}

.btn:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 25px rgba(42, 26, 28, 0.35);
    opacity: 0.95;
}

.btn:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.btn.primary:hover {
    background: #e63946;
}

.btn.hollow:hover {
    border-color: #fff;
}

/* Адаптив */
@media (max-width: 600px) {
    .code {
        font-size: 110px;
    }

    .panel {
        padding: 28px 22px;
    }
}