@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("reset.css");
@import url("_header.css");
@import url("_footer.css");
@import url("_button.css");
@import url("_effects.css");

html {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

@media (min-width: 1440px) {

    .navMobile-wrapper {
        display: none;
    }

    .mainMobile-wrapper {
        display: none;
    }

    .container {
        width: 1340px;
    }

    .underline--mainImage {
        position: absolute;
        bottom: 0px;
        top: 30px;
        left: -20px;
        width: 45px;
        height: 5px;
        background: #e63946;
        clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
    }

    .btn-sign {
        height: max-content;
    }

    .main {
        padding-top: 164px;
        padding-bottom: 118px;
        width: 100%;
        background-image: url(../image/main_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .main__platform--color1 {
        color: #DD4056;
        font-weight: bold;
        padding-left: 14px;
        padding-right: 3px;
    }

    .main__platform--color2 {
        color: #DD4056;
        font-weight: bold;
        padding-right: 8px;
        padding-left: 15px;
    }

    .main__heading h1 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 37px;
        font-style: normal;
        margin-bottom: 12px;
    }

    .main__platform p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 24px;
        font-style: italic;
    }

    .main__rating {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .main__rating-star img {
        width: 32px;
        height: 32px;
    }

    .main__productInformation {
        display: flex;
        flex-direction: row;
    }


    .main__rating {
        display: flex;
        flex-direction: row;
    }

    .main__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;

    }

    .main__price {
        margin-bottom: 51px;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;

    }

    .main__subtitle {
        margin-top: 19px;
    }

    .main__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.5px;
    }

    .main__btns {
        margin-top: 62px;
    }

    .main__imageBlock-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main__imageBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 358px;
        height: 159px;
        opacity: 0;
        transform: translateY(30px) scale(0.95);
        animation: fadeInUp 0.6s forwards;
        transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    }

    .main__imageBlock:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
        filter: brightness(1.1);
    }

    .main__imageBlock img {
        transition: transform 0.3s ease;
    }



    .imgBlck1.visible {
        transition-delay: 0s;
    }

    .imgBlck2.visible {
        transition-delay: 0.2s;
    }

    .imgBlck3.visible {
        transition-delay: 0.4s;
    }

    .imgBlck1 {
        background-image: url(../image/imgBlock1.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;
        width: 358px;
        height: 159px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .trailer-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 358px;
        height: 159px;
        display: none;
        object-fit: cover;
        z-index: 2;
    }

    .trailerButton {
        position: relative;
        cursor: pointer;
        z-index: 3;
    }


    .imgBlck2 {
        background-image: url(../image/imgBlock2.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;
    }

    .imgBlck3 {
        background-image: url(../image/imgBlock3.png);
        background-repeat: no-repeat;
        background-size: 358px 159px;

    }

    .main__h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        margin-bottom: 12px;
    }

    .main__btns {
        display: flex;
        flex-direction: row;
        gap: 213px;
        justify-content: center;
        align-items: center;
    }

    .character {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 149px;
        padding-bottom: 197px;
        width: 100%;
        background-image: url(../image/characterBg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .characterBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .character__imageCard {
        width: 183px;
        height: 170px;
    }

    .character__imageCards {
        display: flex;
        flex-direction: row;
    }

    .character__imageCard--secondary {
        display: flex;
        flex-direction: column;
    }

    .character__imageCard--main {
        width: 504px;
        height: 510px;
    }

    .imCard1 {
        background-image: url(../image/imBlock1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .imCard2 {
        background-image: url(../image/imBlock2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .imCard3 {
        background-image: url(../image/imBlock3.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .imCard4 {
        background-image: url(../image/imBlockMain.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .character__description {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .character__image-wrapper {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .character__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.6px;

    }

    .description {
        background-image: url(../image/descriptionBg.png);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
        /* height: 440px; */
        padding-top: 90px;
        padding-bottom: 193px;
        display: flex;
        justify-content: center;
    }

    .descriptionBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .description__heading h2 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-size: 32px;
        font-style: normal;
        letter-spacing: 0.7px;
        color: #fff;
    }

    .description__subtitle {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        letter-spacing: 0.1px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 5px;
    }


    .whyUs {
        background-image: url(../image/whyusBg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* height: 585px; */
        padding-top: 15px;
        padding-bottom: 102px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .whyUs__card-wrapper {
        width: 400px;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .whyUs__Cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .whyUs__card-wrapper {
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }



    .whyUs__heading h2 {
        text-align: center;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 36px;
        font-style: bold;
        letter-spacing: 0.8px;
    }

    .whyUs__heading {
        padding-bottom: 25px;
    }

    .whyUs .container {
        flex-direction: column;
    }

    .whyUs__image {
        width: 380px;
        height: 210px;
        display: flex;
        flex-wrap: wrap;
    }

    .whyUs__cardHeading h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 24px;
        font-style: bold;
        padding-top: 25px;
    }

    .whyUs__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        padding-top: 12px;
        letter-spacing: 0.2px;
    }

    .whyImg1 {
        background-image: url(../image/whyUsimg1.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
    }

    .whyImg2 {
        background-image: url(../image/whyUsimg2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .whyImg3 {
        background-image: url(../image/whyUsimg3.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .ad {
        display: flex;
        justify-content: center;
        background-image: url(../image/adBg.png);
        background-size: cover;
        background-position: center;
        /* height: 512px; */
        padding-top: 90px;
        padding-bottom: 85px;
    }

    .ad-wrapper {
        width: 504px;
        height: 336px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(../image/adBg.svg);
        display: flex;
        flex-direction: column;
        padding-top: 28px;
        padding-left: 56px;
    }

    .ad__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 36px;
        font-style: normal;
        padding-bottom: 11px;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }


    .ad__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        padding-bottom: 29px;
        letter-spacing: 0.3px;
    }

    .learnMore {
        background-image: url(../image/learnMoreBG.png);
        width: 100%;
        /* height: 512px; */
        padding-top: 105px;
        padding-bottom: 95px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .learnMore-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .learnMore__h2 h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 34px;
        font-style: normal;
        letter-spacing: 0.6px;
    }

    .learnMore__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.7px;
    }

    .learnMore .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    .faq {
        background-image: url(../image/faqBG.png);
        /* height: 710px; */
        padding-top: 60px;
        padding-bottom: 90px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .faq-wrapper {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .faq__heading {
        display: flex;
        justify-content: center;
    }

    .faq__heading h2 {
        text-align: center;
        color: #fff;
        padding-bottom: 29px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 0.5px;
    }

    .faq__question-wrapper {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
    }

    .faq__questionBlock {
        width: 887px;
        background: transparent;
        display: flex;
        flex-direction: column;
        transition: background-color 0.3s ease;
        overflow: hidden;
        align-self: flex-end;

        align-items: center;
        justify-content: center;
    }

    .faqOdd {
        background: #292929;
    }

    .faqEven {
        background: none;
    }



    .faq__questionContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        width: 791px;
        margin: 0 auto;
    }

    .faq__question p {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.4px;
    }

    .faq__questionBlock:hover .faq__question p {
        color: #000000;
        opacity: 0.7;
        transition: color 0.3s ease, opacity 0.3s ease;
    }

    .faq__answer {
        color: #fff;
        opacity: 0.8;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
        padding: 0 40px 15px 40px;
        display: none;
        max-width: 780px;
        margin: 0 auto;
        transition: all 0.5s ease;
    }

    .faq__questionBlock.active .faq__answer {
        display: block;
    }

    .character__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 48px;
        font-style: normal;
    }

    .character__subtitle p {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
    }

    .character__h3 .h3--italic {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
    }

    .character__imageIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: max-content;
        padding-top: 25px;
    }

    .character__icon {
        width: 105px;
        height: 110px;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
        cursor: pointer;
    }

    .charIcon1 {
        background-image: url(../image/CharIcon1.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100px;
        height: 100p100
    }

    .charIcon2 {
        background-image: url(../image/CharIcon2.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 92px;
        height: 93px;
    }

    .charIcon3 {
        background-image: url(../image/CharIcon3.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100px;
        height: 100px;
    }

    .charIcon4 {
        background-image: url(../image/CharIcon4.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100px;
        height: 100px;
    }

    .charIcon5 {
        background-image: url(../image/CharIcon5.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100px;
        height: 100px;
    }




    .character__icon-wrapper {
        width: 92px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .reg {
        padding: 60px 56px;
        background-color: #060707;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reg__heading {
        width: max-content;
    }

    .reg__heading h2 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 48px;
        font-style: normal;
        width: max-content;
        padding-bottom: 33px;
        letter-spacing: 2px;
    }

    label {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
        width: max-content;
        letter-spacing: 1px;
    }

    .reg-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
    }

    .reg__image img {
        width: 362px;
        height: 362px;
    }

    .reg__form form {
        display: flex;
        flex-direction: column;
        gap: 33px;
        width: max-content;
    }

    .reg__form input[type="text"],
    .reg__form input[type="email"],
    .reg__form select {
        background-color: #1b1b1b;
        border: none;
        width: 811px;
        height: 75px;
        padding: 15px 15px;
        color: #fff;
        border-radius: 4px;
        font-size: 15px;
        outline: none;
    }

    .reg__form {
        width: max-content;
    }

    .reg__info {
        width: max-content;
    }

    .reg__form input[type="text"]:focus,
    .reg__form input[type="email"]:focus,
    .reg__form select:focus {
        border: 1px solid #ff5566;
    }

    .reg__form .checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 29px;
        font-style: italic;
        font-size: 14px;
        color: #ccc;
        width: max-content;
    }

    .reg__form input[type="checkbox"] {
        accent-color: #ff5566;
        width: 27px;
        height: 27px;
        cursor: pointer;
    }

    .reg__qr {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reg__qr-info {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        padding-top: 21.5px;
    }

    .qrColor {
        color: #DD4056;
        font-weight: 600;
        opacity: 1;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
    }

    .main__platform--color1,
    .qrColor {
        animation: glowPulse 2.5s infinite;
    }

    .reg__form input::placeholder,
    .reg__form select::placeholder {
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 14px;
        font-style: italic;
    }

    .reg__form select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #1b1b1b;
        color: #fff;
        opacity: 0.7;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 14px;
        font-style: italic;
        padding: 15px;
        border-radius: 4px;
        border: none;
        width: 811px;
        height: 75px;
        outline: none;
        cursor: pointer;
        background-image: none;
    }

    .reg__form select::-ms-expand {
        display: none;
    }

    .reg__form select option {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 14px;
        font-style: italic;
        color: #fff;
        background-color: #1b1b1b;
        padding: 10px;
    }

    .icon-wrapper {
        display: flex;
        flex-direction: row;
        gap: 45px;
        height: max-content;
    }

    .icon-wrapper img,
    .main__icon img {
        height: 25px;
        width: 25px;

    }

    .main__icons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }




    .faq__questionBlock.active .faq__questionIcon img {
        transform: rotate(45deg);
    }


    .main__rating-star {
        cursor: pointer;
        transition: transform 0.2s ease, filter 0.2s ease;
    }

    .main__rating-star:hover {
        transform: scale(1.2);
        filter: drop-shadow(0 0 5px #e6d839);
    }

    .main__rating-star img {
        transition: transform 0.3s ease;
    }

}